@using ChampionsLeagueTickets.Resources
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = "AboutUs";
}

<h1>@Localizer["AboutUs"]</h1>
<div class="blockIntro">
<div class="textBlockIntro">
        <p>@Localizer["AboutUsDescription"]</p>
</div>
<div class="imgBlockIntro">
<img  src="~/images/developers.png" />
</div>
</div>
