
@{
    ViewData["Title"] = "Introductie";
}

<h1>Welkom</h1>
<div class="blockIntro">
<div class="textBlockIntro">
<p>
    Welkom op ons platform voor de aankoop van tickets en abonnementen voor voetbalwedstrijden.</p>

<p>  Op deze website kunnen supporters eenvoudig wedstrijden bekijken en tickets of seizoensabonnementen kopen voor hun favoriete club.</p>

<p>    Ons systeem biedt een overzicht van de wedstrijdkalender, stadioninformatie en beschikbare zitplaatsen. Gebruikers kunnen een wedstrijd selecteren, hun gewenste vak en plaats kiezen en de tickets veilig online aankopen.</p>

<p>    Na aankoop ontvangt de gebruiker een bevestiging en een voucher per e-mail.</p>

<p>   Dit platform werd ontwikkeld als studentenproject en heeft als doel een gebruiksvriendelijke en moderne oplossing te creëren voor de online verkoop van voetbalwedstrijdtickets.</p>
</div>

<div class="imgBlockIntro">

        <img src="~/images/imageintro.png" />

</div>
</div>





