
@{
    ViewData["Title"] = "OverOns";
}

<h1>Over Ons</h1>
<div class="blockIntro">
<div class="textBlockIntro">
<p >
    Wij zijn studenten van een hogeschool en studeren Toegepaste Informatica met de afstudeerrichting Software Development.

    Als onderdeel van ons studieproject hebben wij deze webapplicatie ontwikkeld. Het doel van dit project is om onze programmeervaardigheden te verbeteren en praktische ervaring op te doen met het ontwikkelen van moderne webapplicaties.

    Tijdens dit project werken wij samen in een team aan het ontwerpen en ontwikkelen van een platform waar supporters eenvoudig voetbalwedstrijden kunnen bekijken en tickets of abonnementen kunnen kopen.

    Wij gebruiken verschillende technologieën en programmeertalen om een gebruiksvriendelijke, duidelijke en moderne website te creëren.

    Dit project helpt ons om ervaring op te doen met softwareontwikkeling, teamwork en het bouwen van realistische digitale oplossingen.
</p>
</div>
<div class="imgBlockIntro">
<img  src="~/images/developers.png" />
</div>
</div>
