@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<link href="~/css/loginheader.css" rel="stylesheet" />
<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown account-dropdown">
            <a class="nav-link account-icon" href="#" id="accountDropdown">
                <i class="bi bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-controller="Order" asp-action="Index">Mijn orders</a>
                </li>
                <li>
                    <form asp-area="Identity" asp-page="/Account/ForgotPassword" method="post">
                        <button type="submit" class="dropdown-item">Wachtwoord vergeten</button>
                    </form>
                </li>
                <li>
                    <form asp-area="Identity" asp-page="/Account/ResetPassword" method="post">
                        <button type="submit" class="dropdown-item">Wachtwoord veranderen</button>
                    </form>
                </li>
                <li>
                    <form asp-area="Identity" asp-page="/Account/Logout" method="post">
                        <button type="submit" class="dropdown-item">Log uit</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">
                Registreer
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
                Log in
            </a>
        </li>
    }
</ul>