@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "E-mail is bevestigd";
}
<div class="row justify-content-center text-center">
    <div class="col-md-8">
        <h1>@ViewData["Title"]</h1>
        <p>
            Uw E-mail is bevestigd. Dankuwel! U kunt nu doorgaan naar de applicatie.
        </p>
        <a class="w-100 btn-golden" asp-page="/Account/Login" asp-area="Identity">Ga naar login</a>
        <img src="~/images/blije_voetballers.jpg" alt="Blije voetballers" class="img-fluid rounded mt-4" />
    </div>
</div>