@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Bevestig uw registratie";
}

<div class="row justify-content-center">
    <h1>@ViewData["Title"]</h1>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
    <p>
        Er is iets foutgegaan. Contacteer aub: championsleagueticketsstudapp&#64;gmail.com
    </p>
        }
        else
        {
    <p>
        Bekijk alstublieft uw E-mailinbox om uw account te bevestigen.
        <img src="~/images/spelende_voetballers.jpg" alt="Spelende voetballers" class="img-fluid rounded" />
    </p>
        }
    }
</div>
